color0=#646366 //body
color1=#FEC72F //footer
color2=#F5F5F5 //header, navbar
color3=#00566f // navbar-submenu, navbar-brand, icon-bar, (responsive)dropdown-menu li a
color4=#0099bb // navbar-hover, btn-primary, dropdown-menu li a:hover

html,body
  height: 100%

body
  color color0
  
section#content
  padding-bottom: 200px

footer
  position: absolute
  bottom: 0
  display: block
  width: 100%
  background-color color1
  color: #fff

#wrapper
  min-height: 100%
  position: relative

header
  background-color color2
  border-bottom 8px solid color3
  border-top 20px solid color1

.navbar
  background-image: none !important
  background-repeat: none !important
  border-radius: none !important
  box-shadow: none !important
  margin-bottom 0px 
  .navbar-brand
    padding 0px
    
.navbar-default .navbar-nav > li > a
  color color3

.navbar-default .navbar-nav > li > a:hover
  color color4

.navbar-default
  background-color: color2 !important
  border: 0px !important


.navbar-default
  .navbar-brand
    color: color3 !important


.btn-primary
  background-image: none
  border: 0px !important
  background-color: color4


#firma-em
  padding-bottom: 35px !important

.glyphicon
  padding-right: 5px !important

section
  margin-top: 40px !important

.dropdown-menu li a:hover
  background-color: color4 !important
  background-image: none !important

.dropdown-menu li a
  padding: 10px 10px

.divider
  margin: 0px !important


.navbar-default .navbar-toggle .icon-bar
  background-color: color3 !important

@media (max-width:767px)
  .dropdown-menu li a
    color: color3 !important

//CSS PARA  VISTA DE PRODUCTOS EN CANJE



.finalprice 
  font-size15px
  color #AAFCAE


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 
  padding 5px

.btn-block 
  margin-top 5px

.saleoffrate
  position absolute
  top 10px
  left 10px
  padding-top 13px
  text-align center
  background-color rgba(76, 174, 76,0.8)
  color #FFFFFF
  border-radius 50%
  height 50px
  width 50px
  line-height 13px

.TuTiempo
  position absolute
  
.wrapSocio
  margin-bottom 20px
  #existe
    margin-top 20px
    padding 20px
    background-color rgba(0, 0, 0, .10)
    width 100%
    border-radius 10px
    font-size 20px
    color rgba(0, 0, 0, 0.50)
  
#logo
  width 80%
  margin 5px
  
.nav-date
  color color3 !important
 
/***********************
        REPORTES
  *********************/
  
#reporteGeneral
  nav  
    ul
      list-style none 
legend 
  .glyphicon
    color color4