<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="NoticiasConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data source=~/../App_Data/db.mdb/~"/>
    <add name="CVsConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data source=~/../CustomViews/datos/CustomData.mdb/~"/>
  </connectionStrings>

  <appSettings>
    <add key="ItemsPagina" value="10"/>
    <add key="UbicacionArchivos" value="ContentManager_Data/FoldersArchivos/"/>
    <add key="UbicacionImagenes" value="ContentManager_Data/ImagenesNoticias/"/>
    <add key="UbicacionGalerias" value="ContentManager_Data/GaleriasImagenes/"/>
    <add key="UbicacionCVs" value="CustomViews/datos/CVs/"/>
    <add key="UbicacionCVsFotos" value="CustomViews/datos/FotosCV/"/>
    <add key="UbicacionImagenesAsociados" value="CustomViews/datos/Imagenes_Asociados"/>
    <add key="EnabledCustomViews" value="EditorCVs,ABMEntidades,Newsletter"/>
    <add key="EmailFrom" value="no-reply@paradigma.com.ar" />
    <add key="EmailFromName" value="Paradigma" />
    
    <!-- Newsletter specifics settings -->
    <add key="Newsletter_MessagesPerHour" value="190"/>
    <add key="Newsletter_UseSendGrid" value="true"/>
    <add key="Newsletter_SendGridUsername" value="paradigma"/>
    <add key="Newsletter_SendGridPassword" value="Pds654321"/>
    <add key="Newsletter_SendGridCategory" value="[DEBUG] Content Manager Generico"/>
  </appSettings>

  <system.web>
    <pages validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <customErrors mode="RemoteOnly" defaultRedirect="index.htm" />
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="5120" />
    <authentication mode="Forms">
      <forms loginUrl="~ContentManager/registrarse.aspx" timeout="2880"/>
    </authentication>
    <globalization requestEncoding="windows-1252" responseEncoding="windows-1252" culture="fr-CH"/>
    <sessionState timeout="250" cookieless="UseCookies" />
  </system.web>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10240000" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
         <requestFiltering>
            <hiddenSegments applyToWebDAV="false">
               <add segment="_private" />
            </hiddenSegments>
         </requestFiltering>
      </security>
  </system.webServer>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="no-reply@paradigma.com.ar">
        <network defaultCredentials="true" host="localhost"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
